<h3>Customer Managment</h3>
<h2>Login</h2>
<input
  type="text"
  placeholder="Please enter Id Number"
  [(ngModel)]="idNumber"
/>
<button (click)="onClick()">Login</button>
<section *ngIf="custumerIsValid()">
  <h2>Customer Details</h2>
  <div>First Name:{{ custumer.firstName }}</div>
  <div>Last Name:{{ custumer.lastName }}</div>
</section>
<section *ngIf="custumerIsValid()">
  <h2>Address:</h2>
  <div>City:<input type="text" [(ngModel)]="custumer.address.city" /></div>
  <div>Street:<input type="text" [(ngModel)]="custumer.address.street" /></div>
  <div>No:<input type="text" [(ngModel)]="custumer.address.houseNumber" /></div>
  <div>
    Postal Code:<input type="text" [(ngModel)]="custumer.address.postalCode" />
  </div>
</section>
