<div class="mainWrapper">
  <div>
    <h3>Customer Managment</h3>
    <h2>Login</h2>

    <div class="loginWrapper">
      <input
        type="text"
        placeholder="Please enter Id Number"
        [(ngModel)]="idNumber"
      />
      <button (click)="onClick()">Login</button>
    </div>
    <section *ngIf="custumerIsValid()">
      <h2>Customer Details</h2>
      <div class="customerDetails">
        <!-- style="display: flex; justify-content: space-around" -->
        <div>
          <span>First Name:</span>
          <input type="text" [(ngModel)]="custumer.firstName" disabled />
        </div>
        <div>
          <span>Last Name:</span>
          <input type="text" [(ngModel)]="custumer.lastName" disabled />
        </div>
      </div>
    </section>
    <section *ngIf="custumerIsValid()">
      <h2>Address:</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="customerDetails">
          <div>
            <span>City:</span>
            <input type="text" name="city" formControlName="city" />
          </div>
          <div>
            <span>Street:</span>
            <input type="text" name="street" formControlName="street" />
          </div>
          <div>
            <span>No:</span>
            <input
              type="text"
              name="houseNumber"
              formControlName="houseNumber"
            />
          </div>
          <div>
            <span>Postal Code:</span>
            <input type="text" name="postalCode" formControlName="postalCode" />
          </div>
          <div>
            <input
              type="submit"
              value="Update Address"
              [disabled]="!form.dirty"
              tooltip="Modify the Address to enable the submit button"
            />
          </div>
        </div>
      </form>
    </section>
    <section *ngIf="custumerIsValid()">
      <h2>Customer's Contracts</h2>
      <contract
        [contracts]="contracts"
        (selectedContractId)="onSelectContractId($event)"
      ></contract>
    </section>
    <section *ngIf="packages != null && packages.length > 0">
      <h2>Selected Contract's packages</h2>
      <package [packages]="packages"></package>
    </section>
  </div>
</div>
